.App5 {
    text-align: center;
  }
  .fam3{
    text-align: center;
  }
  .form5{
    float: left;
    padding: 30px;
  }
  .ac1{
      background-color:black;
      color:white;
      text-decoration: none;
      border-radius: 20%;
    
  }
  .temp1{
    text-decoration: none;
  }
  .navbar5 {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: rgb(12, 32, 49);
  }
  
  .logo5 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links5 {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item5 {
    cursor: pointer;
    text-decoration: none;
  }
  .drop5{
    cursor: pointer;
    text-decoration: none;
  }
  .content5 {
    color: black;
  }
  
  .body5 {
    background-image: url(srk4k.jpeg);
    /* background-image:url(srk.jpeg) ; */
    /* background-image:url("5070d13c6896bab771631f9b41c1f3e9.jpg"); */
    background-size:cover;
    height: 100vh;
    width: 100vw;
  }
  .ani2{
    height:150px;
    width:400px;
  }
 .allsongs{
  background-repeat: no-repeat;

 }
 .leftie{
  background-image: url(rc.jpg);
  background-size:cover;
    height: 100vh;
    width: 100vw;
  }
  .leftcol{

    margin-left: 1000px;
  }
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_button{
    color: black !important;   
  }
  .ani1{
    width: 500px;
  }
  .ar1{
    width:500px;
  }
  .rightcol{
    background-image: url(Screenshot\ 2023-07-13\ 205500.png);
    height: 100%;
  }